.node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/dev/build/chunks/

.next/dev/build/

.next/dev/

node_modules/\@aws-crypto/sha256-browser/build/module/

node_modules/\@aws-crypto/sha256-browser/node_modules/\@smithy/util-buffer-from/

node_modules/\@aws-crypto/sha256-browser/node_modules/\@smithy/util-utf8/dist-es/

node_modules/\@aws-crypto/sha256-browser/build/main/

node_modules/.bin/

node_modules/\@alloc/quick-lru/

node_modules/\@aws-crypto/crc32/build/main/

node_modules/\@aws-crypto/crc32/build/module/

node_modules/\@aws-crypto/crc32/

node_modules/\@aws-crypto/crc32c/build/main/

node_modules/\@aws-crypto/crc32c/build/module/

node_modules/\@aws-crypto/crc32c/
